<clr-accordion>
    <clr-accordion-panel>
        <clr-accordion-title>Item 1</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
            <div class="clr-row">
                <div class="clr-col-lg-6 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                            Header
                        </div>
                        <div class="card-block">
                            <div class="card-media-block">
                                <img src="https://ep00.epimg.net/tecnologia/imagenes/2015/06/25/actualidad/1435248518_445335_1435251285_noticia_normal.jpg" class="card-media-image">
                                <div class="card-media-description">
                                    <span class="card-media-title">
                                    
                                </span>
                                    <span class="card-media-text">
                                   ...
                                </span>
                                </div>
                            </div>
                            <div class="card-text">
                                ...
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link">Action</button>
                        </div>
                    </div>
                </div>
                <div class="clr-col-lg-6 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                            Header
                        </div>
                        <div class="card-block">
                            <div class="card-media-block wrap">
                                <img src="..." class="card-media-image">
                                <div class="card-media-description">
                                    <span class="card-media-title">
                                    Project B
                                </span>
                                    <span class="card-media-text">
                                    Owner: Jane Doe
                                </span>
                                </div>
                            </div>
                            <div class="card-text">
                                ...
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link">Action</button>
                        </div>
                    </div>
                </div>
            </div>
        </clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>Item 2</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
        <clr-accordion-title>Item 3</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>